.infobar {
    display: flex;
    justify-content: space-between;
    .icon {
        margin: 5px;

        &.icon-close {
            align-self: flex-end;
        }
    }
}

.message-profilepic {
    border-radius: 50px;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.icon-online {
    margin-right: 10px;
}

.room-name {
    margin-bottom: 0;
    padding: 0;
}
